@import url(common.css);
@import url(util.css);

#wrap {
    width: 100%;
}

#main {
    width: 1250px;
}

#main-logo {
    width: 100%;
}

.show-line {
    width: 1250px;
    display: flex;
    justify-content: space-between;
}

.show-box {
    width: 19%;
    text-align: center;
    padding: 0px 15px;
}

.show-box-img {
    display: block;
    width: 100%;
}